@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 262 83% 58%;
    --primary-foreground: 210 40% 98%;

    --secondary: 226 100% 61%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 83% 58%;

    --radius: 0.5rem;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 262 83% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 27% 14%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 225 25% 18%;
    --sidebar-ring: 262 83% 58%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;

    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;

    --primary: 263 85% 50%;
    --primary-foreground: 210 20% 98%;

    --secondary: 226 70% 55%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 263 85% 50%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 262 83% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 18%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 216 34% 17%;
    --sidebar-ring: 262 83% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html,
  body,
  #root {
    @apply h-full overflow-hidden dark;
  }
  ul {
    list-style-position: inside;
    padding-left: 1.25rem;
  }
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .text-sm {
    font-size: 1rem;
    line-height: 1.35rem;
  }

  .text-xs {
    font-size: 0.85rem;
    line-height: 1rem;
  }
}

/* --- VVV ADD THIS RULE VVV --- */
/* Style for speaker indicators in Passion Gospels */
.prose-passion span[style*='color: #800'] {
  color: hsl(var(--primary)) !important; /* Use the primary color variable */
}
/* --- ^^^ ADD THIS RULE ^^^ --- */
